h2 {
    font-family: "jumble";
    color: #334BB9;
    font-size: 2rem;
}

h3 {
    font-family: "peachy-keen-jf";
}

p {
    font-family: "peachy-keen-jf";
    color: #334BB9;
}

.circle-img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    transition: filter 0.5s;
}

.circle-img:hover {
filter: brightness(70%); /* Adjust brightness to darken the image */
    }

/* header */
.menu-toggle {
    display: none; /* gemmer checkbox */
}

/* HJEM */
.hjem-img {
    height: 30rem;
    width: 30rem;
    object-fit: cover;
    border-radius: 50%;
}

/* INFO */
.sct3, .info {
    margin-top: 0;
}

/* FOOTER */
.fa-brands:active {
    color: #d47166;
}

/* MOBIL */
@media only screen and (max-width: 767px) {  
    .dropdown-links li a.active {
        color: #FF887A;
    }
}

@media only screen and (min-width: 768px) {

}