* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: #FEF7EC;
    color: #111111;
}

h2 {
    font-family: "jumble";
    color: #334BB9;
    font-size: 2rem;
}

h3 {
    font-family: "peachy-keen-jf";
}

p {
    font-family: "peachy-keen-jf";
    color: #334BB9;
}

.circle-img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    transition: filter 0.5s;
}

.circle-img:hover {
filter: brightness(70%); /* Adjust brightness to darken the image */
    }

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    padding: 2rem;
    z-index: 101;
    color: #334BB9;
    width: 30%;
}

.topmenu {
    z-index: 100;
}

/*flyttes over til SCSS*/
.topmenu-links {
    display: flex;
    list-style-type: none;
    font-family: "jumble";
    font-size: 1.5rem;
}

.topmenu-links a {
    padding: 2rem;
    color: #334BB9;
}

.topmenu-links a:hover {
    color: #FF887A;
}

.topmenu-links a:active {
    color: #d47166;
}

.topmenu-links .active {
    color: #FF887A;
}

.menu-toggle {
    display: none; /* gemmer checkbox */
}

/* HJEM */
.sct1-index {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: auto;
    column-gap: 3rem;
}

.velkommen-txt {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
}

.velkommen-txt h1, h2, p {
    margin: 0;
}

h1 {
    font-family: "amatic", sans-serif;
    color: #334BB9;
    font-size: 4rem;
    text-align: right;
}

.velkommen-txt h2 {
    text-align: end;
    color: #FF887A;
    font-family: "peachy-keen-jf";
    font-size: 1rem;
}

.velkommen-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.hjem-img {
    height: 30rem;
    width: 30rem;
    object-fit: cover;
    border-radius: 50%;
}

.sct2-index {
    background-color: #FF887A;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.sct2-index h2 {
    text-align: left;
}

.sct2-index p {
    text-align: justify;
}

.hvem-txt {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-right: 4rem;
    justify-self: center;
    align-self: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    z-index: 5;
}

.hvem-p {
    font-family: "peachy-keen-jf";
    padding-top: 1rem;
}

.img-bubbles {
    display: flex;
    flex-direction: column;
    margin-top: -4rem;
    padding-bottom: 4rem;
    position: absolute;
    z-index: 1;
}

.bubble1 {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    margin-left: 18rem;
}

.bubble2 {
    border-radius: 50%;
    width: 24rem;
    height: 24rem;
    object-fit: cover;
    margin-left: -4rem;
    margin-top: -3rem;
}

.bubble3 {
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    object-fit: cover;
    margin-left: 28rem;
    margin-top: -6rem;
}

.sct3 {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    grid-column-gap: 6rem;
    grid-row-gap: 2rem;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.sct3 h2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.inden {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.efter {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.sct3 h3 {
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    color: #334BB9;
}

.sct3 h3:hover {
    color: #FF887A;
    cursor: pointer;
}

.sct3 h3:active {
    color: #d47166;
}

.sct4 {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    grid-column-gap: 6rem;
    grid-row-gap: 2rem;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.sct4 h2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.hvalp {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.voksen {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.senior {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.sct4 h3 {
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    color: #334BB9;
}

.sct4 h3:hover {
    color: #FF887A;
    cursor: pointer;
}

.sct4 h3:active {
    color: #d47166;
}

/* INFO */
.sct3, .info {
    margin-top: 0;
}

.sct5 {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    grid-column-gap: 6rem;
    grid-row-gap: 2rem;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.sct5 h2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.sundhed {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.træning {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.faq {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.sct5 h3 {
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    color: #334BB9;
}

.sct5 h3:hover {
    color: #FF887A;
    cursor: pointer;
}

.sct5 h3:active {
    color: #d47166;
}

.sct6 {
    position: relative;
    overflow: hidden;
    height: 60rem;
    margin-bottom: -20rem;
}

.sct6 .hunderacer {
    position: absolute;
    width: 100%;
    height: 70%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
}

.sct6 h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    padding-top: 4rem;
}

.sct6 p {
    text-align: center;
}

.sct6 .hunderacer-indhold {
    position: relative;
    z-index: 100;
    padding-top: 8rem;
}

/*
.personligheder1 {
    display: flex;
}

.personligheder2 {
    display: flex;
    flex-direction: row-reverse;
}

.cta1 {
    margin-left: 3rem;
    margin-top: 2rem;
}

.cta2 {
    margin-left: 10rem;
    margin-top: 6rem;
}

.cta3 {
    margin-right: 4rem;
    margin-top: -13rem;
}

.cta4 {
    margin-right: 5rem;
    margin-top: -10rem;
}

.cta-circle {
    display: flex;
    background-color: #334BB9;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, color 0.5s;
}

.cta-circle p {
    color: #FEF7EC;
    font-size: .75rem;
}

.cta-circle:hover {
    background-color: #FF887A;
}

.cta-circle:active {
    background-color: #d47166;
}

.cta-circle:hover p {
    color: #334BB9;
}

.cta-circle:active p {
    color: #263889;
} */

.cta-link {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }

.cta-img {
    width: 10rem;
    height: 10rem;
    display: block;
    transition: filter 0.5s;
    z-index: 100;
}

.cta p {
    position: absolute;
    top: 50%; /* Position the text 50% from the top of the container */
    left: 50%; /* Position the text 50% from the left of the container */
    transform: translate(-50%, -50%); /* Center the text both horizontally and vertically */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    color: #334BB9; /* Adjust the text color as needed */
    z-index: 100;
    white-space: nowrap;
    transition: color 0.5s;
    text-shadow: 0 0 5px #FEF7EC;
}

.cta:hover .cta-img {
    filter: brightness(70%); /* Adjust brightness to darken the image */
}

.cta:hover p {
    color: #FEF7EC;
    text-shadow: none;
}

/* HUNDERACER */


/* FOOTER */
footer {
    background-color: #334BB9;
}

.kontakt {
    padding-top: 6rem;
    padding-left: 8rem;
    padding-right: 8rem;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 3;
    column-gap: 3rem;
    row-gap: 2rem;
    justify-content: space-evenly;
}

.kontakt h4 {
    font-family: "amatic";
    color: #FEF7EC;
    font-size: 2rem;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    padding-bottom: 5rem;
}

.kontakt h5 {
    font-family: "verdana";
    font-size: .75rem;
    color: #FEF7EC;
    margin: .5rem;
}

.kontakt p {
    font-family: "verdana";
    color: #FEF7EC;
    font-size: .75rem;
}

.kontakt1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    z-index: 3;
}

.kontakt2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    z-index: 3;
}

.kontakt3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    z-index: 3;
}

.some {
    display: flex;
    justify-self: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    gap: 6rem;
    margin-top: 4rem;
    z-index: 3;
    padding-bottom: 2rem;
}

.fa-brands {
    color: #FEF7EC;
    font-size: 1.5rem;
}

.fa-brands:focus {
    color: #FF887A;
}

.fa-brands:hover {
    color: #FF887A;
}

.fa-brands:active {
    color: #d47166;
}

.footer-hund {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 10rem;
    justify-self: end;
    bottom: 0;
    z-index: 1;
}

/* MOBIL */
@media only screen and (max-width: 300px) {
    .topmenu {
        display: none;
    }

    header {
        width: 100%;
        position: fixed;
        z-index: 100;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 6rem;
    }

    .header-logo {
        width: 70%;
        z-index: 101;
    }

    .burgermenu {
        z-index: 101;
    }

    .fa-bars {
        cursor: pointer;
        font-size: 2rem;
        padding-right: 2rem;
        color: #334BB9;
    }

    .fa-bars:hover {
        color: #FF887A;
    }

    .fa-bars:active {
        color: #d47166;
    }

    .dropdown {
        background-color: #FEF7EC;
        position: absolute;
        top: 0%; /* nav menu dropdown position i forhold til header, 0% er top af header, 100% er bunden af header */
        z-index: 100;
        padding: 1rem;
        padding-top: 6rem;
        border-bottom: 1px solid #FF887A;
        width: 100%;
        opacity: 0; /* Usynlig indtil aktiveret */
        visibility: hidden; /* Usynlig indtil aktiveret */
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Transition for opacity og visibility */
    }

    .menu-toggle:checked + .dropdown {
        opacity: 1; /* Gør synlig når aktiveret */
        visibility: visible; /* Gør synlig når aktiveret */
    }

    .dropdown-links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 1rem;
        gap: 3rem;
        list-style: none;
        font-size: 1rem;
        font-family: "jumble";
    }
        
    .dropdown-links a {
        color: #334BB9;
        text-decoration: none;
    }
        
    .dropdown-links a:focus {
        color: #334BB9;
    }   

    .dropdown-links a:hover {
        color: #FF887A;
    }
        
    .dropdown-links a:active {
        color: #d47166;
    }   
        
    .dropdown-links li a.active {
        color: #FF887A;
    }
}

@media only screen and (min-width: 301px) {
    .dropdown, .burgermenu {
        display: none; /* gemmer burgermenu */
    }
}